name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: '18'
    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'
    - run: npm install
    - run: |
        cd android
        chmod +x gradlew
        ./gradlew assembleRelease
    - uses: actions/upload-artifact@v4
      with:
        name: app
        path: android/app/build/outputs/apk/release/app-release.apk