name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '18'
        cache: 'npm'
        
    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'    # GANTI DARI 11 KE 17
        
    - name: Cache dependencies
      uses: actions/cache@v3
      with:
        path: |
          node_modules
          android/.gradle
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-gradle-
          
    - name: Install dependencies
      run: npm install
      
    - name: Build APK
      run: |
        cd android
        chmod +x gradlew
        ./gradlew clean
        ./gradlew assembleRelease
        
    - uses: actions/upload-artifact@v4
      with:
        name: app
        path: android/app/build/outputs/apk/release/app-release.apk