name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: '18'
    - uses: actions/setup-java@v3
      with:
        java-version: '17'
    - run: npm install
    - run: |
        cd android
        chmod +x gradlew
        ./gradlew assembleRelease
    - uses: actions/upload-artifact@v3
      with:
        name: app
        path: android/app/build/outputs/apk/release/app-release.apk